@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fugaz+One&family=Lato:wght@400;700&family=Montserrat:ital,wght@0,400;0,700;1,400&family=Seymour+One&display=swap');

/*-------------------- CSS RESET --------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}

blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* -------------------- ROOT VARIABLES  -------------------- */
:root {
    font-family: "Montserrat", serif;
    font-size: 16px;
    --black:#0D0D0D;
    --white: #F2F2F2;
    --blue: #7ABFBF;
    --teal: rgba(122, 191, 191, .5); 
    --orange:#EB5428;
}

/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/
body {
    background-color:var(--teal);
    font-family:"Montserrat";
    margin: 0 auto;
    padding-top: 100px;
}

h1{
    font-size:40px;
    color:var(--black);
    font-family:"Bebas Neue";
    text-align: center;
    margin-top: 50px;
}

header{
    background-color: var(--white);
    margin: auto;
    padding-top: 50px;
    
}
header img{
    max-width:100%;
    height: auto;
}
header p {
    padding:10px;
    line-height: normal;
    position: relative;
}

menu {
    display: flex;
    list-style: none;
    padding: 10px;
}

menu li svg {
    text-align: center;
    display: block;
    margin: 0 auto;
}
menu li {
    color:#EB5428;
    font-family:"Bebas Neue";
    font-size:20px;
    padding:5px;
    margin: 0 auto;
}

menu a {
    color:#EB5428;
    text-decoration: none;
}

nav {
    grid-area: nav;
    min-width: 414px;
    background-color: #ffffff;
    box-shadow: 0px 3px 3px #bbb;
    position: fixed;
    top: 0;
    z-index:5;
}
nav ul {
    grid-area: hamberger;
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
    max-height: 0;
}
nav li img {
    display: none;
}
nav li a {
    display: block;
    padding: 20px;
    text-decoration: none;
}
nav label {
    cursor: pointer;
    display: inline-block;
    user-select: none;
    position: relative;
    bottom: 5px;
    left: 30px;
}
nav span {
    display: block;
    position: relative;
 }
nav label svg {
    display: block;
}
label span:before, label span:after {
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}
nav input {
    display: none;
}
nav input:checked ~ ul {
    max-height: 550px;
}
nav h2 {
    visibility: hidden;
    height: 1px;
    width: 1px;
}

nav li {
    list-style: none;
}
#logo {
    background-color: var(--orange);
    position: absolute;
    width: 150px;
    height: 30px;
    text-align: center;
    top: 0%;
    margin-left: auto;
    margin-right: auto;
}
nav h2 {
    display: none;
}

.icons {
    display: none;
}

form {
    margin-top: 20px;
    position: absolute;
    top: 0%;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--white);
    width:414px;
    padding-bottom:15px;
    text-align: center;
    padding-top:100px;
}
form fieldset {
    display: none;
}
form svg {
    background-color: var(--orange);

}
#search input{
    border-color: var(--orange);
    height: 30px;
    width: 150px;
}
#search button {
    border-color: var(--orange);
    max-width: fit-content;
}



#details {
    background-color: var(--white);
}
#details dl {
    display: flex;
    padding:10px;
    
}

#details h2 {
    text-align: center;
    font-family:"Bebas Neue";
    font-size:30px;
    padding:10px;
}

#details dt {
    font-family:"Montserrat";
    font-size:16px;
    font-weight:700;
}

#details dd {
    font-family:"Montserrat";
    font-size:16px;
    font-weight:400;
    padding-left: 10px;
}

#ingredients {
    background-color: var(--white);
}
#ingredients h2 {
    text-align: center;
    font-family:"Bebas Neue";
    font-size:30px;
    padding:10px;
}

#ingredients ul {
    margin-left:20px;
}
#ingredients li {
    visibility: visible;
    list-style-type: square;
    padding:5px;
}

#directions {
    background-color: var(--white);
}

#directions h2 {
    text-align: center;
    font-family:"Bebas Neue";
    font-size:30px;
    padding:10px;
}

#directions ol {
    padding-left: 25px;
    padding-bottom: 15px;
}

#directions li {
    padding:10px;

}

aside {
    background-color: var(--blue);
}

aside h2 {
    text-align: center;
    font-family:"Bebas Neue";
    font-size:30px;
    padding:10px;
}

aside h3 {
    font-family:"Bebas Neue";
    font-size:25px;
    padding:10px;
    padding:5px;
}
aside a {
    text-decoration: none;
    color:var(--black);
}
aside img {
    width: 110px;
    padding: 15px;
}



#mexican-rice {
    display: grid;
}

aside h3 {

}
footer {
    
}
footer h2, h3 {
    display: none;
}

footer img {
    display: block;
    width: 150px;
    padding: 20px;
    margin: 20px auto;
}

footer {
    list-style: none;
    padding: 10px;
    background-color: var(--white);
}
footer ul {
    display: flex;
}

footer li svg {
    text-align: center;
    display: block;
    margin: 0 auto;
}
footer li {
    list-style: none;
    color:#EB5428;
    font-family:"Bebas Neue";
    font-size:20px;
    padding:5px;
    margin: 0 auto;
}

footer a {
    color:#EB5428;
    text-decoration: none;
}
footer small {
    font-family: "Bebas Neue";
    font-size: 1em;
    text-align: center;
    justify-content: center;
    display:block;
}

footer svg {
}
aside div {
    margin-left: 20px;
}
.rating {
    font-weight: bold;
    padding-top:10px;
    padding-bottom: 10px;
}
.rating dt, .rating dd {
    display: none;

}
@media screen and (min-width:768px) {
    aside {
        columns: 2;
    }

    #details dl {
       justify-content: center;
    }

    #ingredients, #directions {
        columns: 2;
    }
}

@media screen and (min-width:1280px) {

    #details {
        background-color:var(--black);
        display: flex;
    }
    
    #details h2, dd, dt {
        color:var(--blue)
    }

    #details dl {
        display: flex;
    }
    #details h2 {
        text-align: center;
    }
    #aside {
        display: flex;
    }
}